{% extends "base.html.twig" %}

{% block title %}
	Editer un article
{% endblock %}

{% block body %}
	{% set currentPath = app.request.attributes.get('_route') %}
	<section class="p-5">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		<h1>
			{{title}}</h1>

		{{ form_start(formulaire) }}
		{{ form_row(formulaire.title, {
            label: "Titre de l'article"
        }) }}
		{{ form_row(formulaire.intro, {
            label: "Introduction"
        }) }}
		{{ form_row(formulaire.contenu, {
            label: "Contenue de l'article"
        }) }}
		{{ form_row(formulaire.photo, {
            label: "Image de l'article"
        }) }}
		{{ form_row(formulaire.categorie, {
            label: "Categorie de l'article"
        }) }}

		<button type="submit" class="btn btn-primary btn-lg mt-3">Editer</button>
		{{ form_end(formulaire) }}

		{% set currentPath = app.request.attributes.get('_route') %}
		{{currentPath~"_"~id}}
	</section>
{% endblock %}
