{% extends 'base.html.twig' %}

{% block title %}Actualité
{% endblock %}

{% block body %}
	{% set currentPath = app.request.attributes.get('_route') %}
	<h1 class="d-flex flex-column justify-content-center align-items-center mt-5">
		{% if app.request.attributes.get('_route')== "app_actualite_userarticle" or app.request.attributes.get('_route')=="app_actualite_userarticle_categorie" %}
			Mes articles
		{% elseif app.request.attributes.get('_route')== "app_actualite" or app.request.attributes.get('_route')=="app_actualite_categorie"%}
			Toute l'actu Natoin Sound
		{% endif %}
	</h1>
	<section class="px-4 pt-4 d-flex justify-content-end">
		<div class="btn-group border rounded me-4">
			<button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				Filtrer par
			</button>
			<ul class="dropdown-menu dropdown-menu-end">
				<li>
					<p class='mb-1 ps-2'>Categorie :</p>
				</li>
				{% for categorie in categories %}
					<li>
						{% if app.request.attributes.get('_route')== "app_actualite_userarticle" or app.request.attributes.get('_route')== "app_actualite_userarticle_categorie"%}
							<a href="{{path('app_actualite_userarticle_categorie', {categorie:categorie.id})}}" class='text-decoration-none'>
								<button class="dropdown-item" type="button">{{categorie.designation}}</button>
							</a>
						{% elseif app.request.attributes.get('_route')== "app_actualite" or app.request.attributes.get('_route')== "app_actualite_categorie"%}
							<a href="{{path('app_actualite_categorie', {categorie:categorie.id})}}" class='text-decoration-none'>
								<button class="dropdown-item" type="button">{{categorie.designation}}</button>
							</a>
						{% endif %}
					</li>
				{% endfor %}
				<li>
					{% if app.request.attributes.get('_route')== "app_actualite_categorie" %}
						<a href="{{path('app_actualite')}}" class='text-decoration-none'>
							<button class="dropdown-item" type="button">Tous</button>
						</a>
					{% elseif app.request.attributes.get('_route')== "app_actualite_userarticle_categorie"%}
						<a href="{{path('app_actualite_userarticle')}}" class='text-decoration-none'>
							<button class="dropdown-item" type="button">Tous</button>
						</a>
					{% endif %}


				</li>
			</ul>
		</div>


	</section>
	<section
		class="row px-4 mx-4">
		{# {{currentPath}} #}
		{% for article in articles %}
			<section style="background-image: url(' ../../uploads/articles/{{article.image}}'); background-repeat: no-repeat; background-position: center; background-size:cover; opacity:0.6" class="border p-3 rounded">
				<a href="{{path('app_actualite_details', {id:article.id})}}" class='text-decoration-none text-white'>
					<h2 class="h1" style="opacity:1">{{article.title}}</h2>
					<section class="">
						<p class="m-0">
							Edité le :
							{{article.updatedAt|date("d/m/Y")}}
						</p>
						{% if article.categorie %}
							<p class="m-0">
								Categorie :
								{{article.categorie}}
							</p>
						{% endif %}
					</section>

					<section class="mt-3">
						<h6 class="" style="opacity:1">
							{{article.intro}}
						</h6>

					</section>
				</a>
				{% if app.request.attributes.get('_route')== "app_actualite_userarticle" or app.request.attributes.get('_route')== "app_actualite_userarticle_categorie"%}
					<button class="btn btn-lg btn-primary mt-3" style="opacity:1">
						<a href="{{path('app_actualite_edit', {id:article.id})}}" class="text-decoration-none text-white">Modifier l'article</a>
					</button>
				{% endif %}
			</section>
		{% endfor %}
	</section>
{% endblock %}
