{% extends 'base.html.twig' %}

{% block title %}Hello ActualiteController!
{% endblock %}

{% block body %}
	<section class="d-flex flex-column justify-content-center align-items-center mt-5">
		<h1>Page d'actualité</h1>
	</section>
	<section class="row p-4 m-4">
		{% for article in articles %}
			<article class="border rounded p-3 text-light" style="background-image: url(' ../../uploads/articles/{{article.image}}'); background-repeat: no-repeat; background-position: center; background-size:cover; opacity:0.6">
				<h2 class="h1" style="opacity:1">{{article.title}}</h2>

				<section class="">
					<p class="m-0">
						Edité le :
						{{article.updatedAt|date("d/m/Y")}}
					</p>
					{% if article.categorie %}
						<p class="m-0">
							Categorie :
							{{article.categorie}}
						</p>
					{% endif %}
				</section>


				<section class="mt-3">
					<h6 class="" style="opacity:1">
						{{article.intro}}
					</h6>
				</section>

			</article>
		{% endfor %}

	</section>
{% endblock %}
